<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>{$title}</title>
    <link rel="stylesheet" type="text/css" href="js/ext-js/resources/css/ext-all.css"/>
    <script type="text/javascript" src="js/ext-js/ext-all-debug.js"></script>
    <script src="js/jquery/jquery-1.7.min.js"></script>
    <script type="text/javascript" src="js/highstocks/js/highstock.js"></script>
    <script type="text/javascript" src="js/highstocks/js/modules/exporting.js"></script>
    <script type="text/javascript" src="app.js"></script>
</head>

<body>
</body>

</html>